/* src/styles/moleculesStyles/Header.module.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-size: 12px;
    width: 90%;
    margin: 0 auto;
    color: white; /* Ensure text color is set */
}


.textContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align text to the right for desktop */
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        margin-top: 20%;
    }

    .textContainer {
        align-items: center; /* Center text for mobile */
        margin-top: 20px; /* Add some space between logo and text */
    }
}
