/* src/styles/moleculesStyles/Header.module.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-size: 12px;
    width: 90%;
    margin: 0 auto;
    color: black;
}


.textContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        margin-top: 20%;
    }

    .textContainer {
        align-items: center; 
        margin-top: 20px;
    }
}
