.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding-right: 5vw;
}

.innerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-template-rows: 1fr auto; /* Three rows */
    grid-template-areas:
        "topLeft right"
        "bottomLeft right"
        "button right"; /* Adjusted grid areas */
}

.hidden {
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-out;
}

.visible {
    opacity: 1;
}

.topLeft {
    grid-area: topLeft;
    transform: translateX(-100%);
}

.bottomLeft {
    grid-area: bottomLeft;
    transform: translateX(-100%);
}

.right {
    grid-area: right;
    transform: translateX(100%);
    word-wrap: break-word; /* Ensure words wrap inside the right container */
    word-break: break-all; /* Break long words if necessary */
}

.rightButton {
    grid-area: button;
    transform: translateX(-100%);
}

.topLeft.visible {
    transform: translateX(0);
    transition-delay: 0.2s;
}

.bottomLeft.visible {
    transform: translateX(0);
    transition-delay: 0.5s;
}

.right.visible {
    transform: translateX(0);
    transition-delay: 0.3s;
}

.rightButton.visible {
    transform: translateX(0);
    transition-delay: 1s;
}

/* Media query for mobile phones */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding-right: 0;
        padding: 10px;
    }

    .innerContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: none;
    }

    .topLeft,
    .bottomLeft,
    .right,
    .rightButton {
        transform: translateX(0);
        transition-delay: 0s;
    }

    .topLeft,
    .bottomLeft,
    .right,
    .rightButton.visible {
        transform: none;
    }

    .topLeft,
    .bottomLeft,
    .right,
    .rightButton {
        opacity: 1;
    }
}
