.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    box-sizing: border-box;
    padding-right: 5dvw;
}

.innerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* Two rows */
    grid-template-areas:
        "topLeft right"
        "bottomLeft right";
    /* Adjusted grid areas */
    border: 1px solid #ccc;
}

.hidden {
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.visible {
    opacity: 1;
}

.topLeft {
    grid-area: topLeft;
    transform: translateX(-100%);
}

.bottomLeft {
    grid-area: bottomLeft;
    transform: translateX(-100%);
}

.right {
    grid-area: right;
    transform: translateX(100%);
}

.topLeft.visible {
    transform: translateX(0);
    transition-delay: 0s;
}

.bottomLeft.visible {
    transform: translateX(0);
    transition-delay: 0.5s;
}

.right.visible {
    transform: translateX(0);
    transition-delay: 0s;
}