#root {
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-weight: 400;
}

.scroll-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.scroll-section {
    scroll-snap-align: start;
    scroll-margin-top: 1px;
}

@supports (-webkit-overflow-scrolling: touch) {
    .scroll-container {
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;
    }
}

nav {
    position: fixed;
    top: 15vh;
    right: 30px;
    height: 20vh;
    width: 150px;
    color: black;
    font-size: large;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 1000;;
}

nav ul {
    background-color: #FAFFAF;
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

li {
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

li:hover {
    transform: translateX(-20px);
}

@media (max-width: 768px) {
    #root {
        width: 100vw;
    }

    nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-around;
        background-color: #333; 
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    li {
        margin: 10px;
        transform: translateX(0);
    }

    li:hover {
        transform: translateY(-5px);
    }

    .scroll-container {
        scroll-snap-type: none;
        overflow-x: hidden;
        overflow-y: auto;
        scroll-behavior: auto;
    }

    .scroll-section {
        scroll-snap-align: none;
    }
}
